<h1><%= @cocktail.name %></h1>
<p><%= link_to "Home", cocktails_path, class: "btn btn-primary" %></p>

<% @cocktail.doses.each do |d| %>
<ul>
  <li>
    <%= d.ingredient.name %>
  </li>
  <p><%= d.description %>
    <%= link_to "Delet", dose_path(d.id), method: :delete %>
  </p>
</ul>

<% end %>


<p><%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %></p>
